.gatsby-highlight-code-line {
  background-color: #3e4451;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #FFA000;
}
