/*
  color: #9792E3;
  color: #48435C;
  color: #6E2C8C;
  black-purple: #371845
*/
body {
  color: rgb(66,66,66);
}
/*h1,h2,h3,h4,h5,h6 {
  color: black;
}*/
a {
  color: rgb(42,93,173);
  text-decoration: none;
}
a:focus,
a:hover {
  color: rgb(42,193,273);
  animation: rainbow 1s infinite linear;
}

.page-link {
  color: #333;
  font-size: 1.5em;
}

blockquote {
  line-height: 1.666;
  font-size: 0.8em;
  padding-left: 16.875px;
  background: #f6f6f6;
  border-left: 3px solid #6B4E78;
  margin-left: 10.875px;
  margin-right: 0;
  padding: 1em;
}

figure {
  text-align: center;
}
figure img {
  margin-bottom: 0
}

figcaption {
  color: #48435C;
  display: block;
  font-size: 0.81333em;
  max-width: 100%;
  padding: 0 0.813333em;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.813333em;
    line-height: 1.5;
  }
  body {
    font-size: 1.5em;
  }
  .page-link {
    font-size: 1.2em;
  }
}

@keyframes rainbow {
  0% {
    color: rgb(42,193,273);
  }
  33% {
    color: #f44336;
  }
  66% {
    color: #4CAF50;
  }
}
